
   
  body{
    
     
    

    }
    
 .Card{
        border: double rgba(15, 15, 16, 0.14);
        border-bottom: 6px rgb(0, 255, 187) solid ;
        padding: 15px;
        display: flex;
        justify-content:space-between;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        border-radius: 20px;
        background-color: rgba(255, 208, 0, 0.09);
        /*background: url(./images/image\ back ) ;*/ 
       /*background-repeat: no-repeat;*/
        
     }
  
 .photo {
         width: 100px;
         border-radius: 80px;
         border-color: rgba(203, 8, 70, 0.611) ;
    

        }
.details{
           /*border: 1px red solid;*/
           font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
           font-style: italic;
           text-align: center;
         }
  
  
  